/** 代码区域 **/
@use "variables" as *;
pre {
  background-color: $background-color-pre;
  color: var(--font-color); // 仍然使用 var(--font-color)，主题 scss 控制
  margin: 25px;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  word-wrap: break-word;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  font-family: monospace; // pre 标签通常使用 monospace
  font-size: $article-font-size-base;
}

code {
  min-height: 70px;
  padding: 6px 12px;
  font-family: monospace; // code 标签通常使用 monospace
  & li{
   //左侧border
    border-left: 3px solid $blockquote-border-color;
  }
}

pre code::before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 13px;
  height: 13px;
  left: 10px;
  top: 13px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}

//复制代码按钮
.copy {
  position: absolute;

  right: 1em;
  width: 2rem;
  top: 0.4em;
  height: 2rem;
  text-indent: -9999px;
  color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #ffffff22;
  background-color: rgb(28, 28, 28);
  background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 200ms ease, transform 200ms ease-out;
}
.copy:focus {
  background-color: #ffffff22;
  transform: scale(1.2);
  text-indent: 1px;
  background-image: none;
}

.copy-success {
  position: absolute;
  top: 1.3em;
  right: calc(30px + 1em);

  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: opacity 0.3s ease;
  z-index: 999;
}


.toolbar {
  width: 100%;
  position: relative;
  background-color: rgb(28, 28, 28);
  height: 2.5rem;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.4);
}
.toolbar span {
  opacity: 1 !important;
  position: absolute;
  left: 5.3rem !important;
  top: 10px;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 1.15em !important;
  color: #eff !important;
}

/** 代码区域 **/