@use "./markdown/index" as *;

// 主题切换 - 只需要切换字体颜色，假设在主题 scss 中控制 --theme-dark 类名

html[data-theme="dark"] {
  .article {
    p,
    li,
    a,
    h1,
    h2,
    h3,
    .headline,
    .headline span,
    .linkClass {
      color: $article-font-color-dark; // 暗色主题字体颜色
    }

    h1,
    h2,
    h3,
    .headline,
    .headline span {
      color: $article-title-color-dark; // 暗色主题标题颜色
    }

    a {
      color: $article-link-color-dark; // 暗色主题链接颜色
      &:hover {
        color: $article-link-hover-color-dark; // 暗色主题链接 hover 颜色
      }
    }
  }
}

// 亮色主题 (默认) - 可以显式定义，或者省略，因为默认就是亮色
html:not([data-theme="dark"]) {
  .article {
    p,
    a,
    h1,
    h2,
    h3,
    .headline,
    .headline span,
    .linkClass {
      color: $article-font-color-light; // 亮色主题字体颜色
    }
    h1,
    h2,
    h3,
    .headline,
    .headline span {
      color: $article-title-color-light; // 亮色主题标题颜色
    }
    a {
      color: $article-link-color-light; // 亮色主题链接颜色
      &:hover {
        color: $article-link-hover-color-light; // 亮色主题链接 hover 颜色
      }
    }
  }
}
